<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

    <script>
        fetch("https://localhost/php-rabbit/search/athletes")
        .then((response) => {
          
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then((json) => {
            console.log(json.data);
            console.log(json.data.filter((word) => word.athlete == 214));
        })
        .catch((error) => {
            console.error('There has been a problem with your fetch operation:', error);
        });
    
    </script>
</body>
</html>